### Gradle ###
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### VS Code ###
.vscode/

### Claude Code ###
.claude/

### Logs ###
*.log
logs/

### Secret / Local config ###
**/application-local.yml
**/application-local.yaml
**/application-secret.yml
**/application-secret.yaml
